<div loading-posting *ngIf="loadingPost">
	<p>Postando...</p>
</div>

<div content-panel-create-post *ngIf="!loadingPost" >
	<div text-publication placeholder="Type your message here..." contenteditable="true" (input)="text = $event.target.innerText" >{{ text }}</div>
	<div container-panel>

		<div container-categorys>

			<form [formGroup]="formCategoryLabels" (ngSubmit)="onAddLabel( $event )" >
				<i class="icon-label"></i>
				<input type="text" placeholder="Type your category here" formControlName="category" />
			</form>

			<ul>
			    <li *ngFor="let category of categorys_to_post;  let i = index">
			      {{ category }}
			      <i class="icon-close" (click)="deleteCategoryLabel( $event, i )" ></i>
			    </li>
			</ul>

		</div>

		<button publish (click)="createPost()" >Publish</button>
		<button add-image *ngIf="!containerImages" (click)="openContainerImages()" class="icon-image"></button>

	</div>

	<input type="file" (change)="fileChanged( $event )" #file />
	<div container-more-image *ngIf="containerImages" >

		<div data-image-post *ngFor="let obj_image of images_to_post;  let i = index" >

			<div background-preview-image [ngStyle]="{'background': '#fff url( //localhost:8080/uploads/posts_medias/' + obj_image.name + ') no-repeat'}" >
				<span remove-image class="icon-close" (click)="removeMedia( i )" ></span>
			</div>
			
		</div>

		<div data-more-image class="icon-plus" (click)="file.click()" ></div>
	</div>

</div>