<div loading-posting *ngIf="loadingPost">
	<p>Postando...</p>
</div>

<div content-panel-create-post *ngIf="!loadingPost" >
	<div text-publication placeholder="Type your message here..." contenteditable="true" ></div>
	<div container-panel>

		<div container-categorys>

			<form [formGroup]="formCategoryLabels" (ngSubmit)="onAddLabel( $event )" >
				<i class="icon-label"></i>
				<input type="text" placeholder="Type your category here" formControlName="category" />
			</form>

			<ul>
			    <li *ngFor="let category of categorys_to_post;  let i = index">
			      {{ category }}
			      <i class="icon-close" (click)="deleteCategoryLabel( $event, i )" ></i>
			    </li>
			</ul>

		</div>

		<button publish (click)="createPost()" >Publish</button>
		<button add-image class="icon-image"></button>

	</div>

	<div container-more-image>

		<div data-image-post *ngFor="let obj_image of images_to_post;  let i = index" >
			BKGD IMAGE
		</div>

		<div data-more-image class="icon-plus"></div>
	</div>

</div>