<div background-edit-post></div>
<div background-modal-edit-post>

	<div form-edit-post *ngIf="loadingComponent">

		<div loading-posting>
			<p>Carregando Publicacao...</p>
		</div>

	</div>

	<div form-edit-post *ngIf="!loadingComponent">

		<div loading-posting *ngIf="loadingPost">
			<p>Editando...</p>
		</div>

		<div content-panel-create-post *ngIf="!loadingPost" >

			<div header-edit-panel>
				Editar Publicacao
				<i class="icon-close" (click)="closeModalEdit()"></i>
			</div>

			<div text-publication placeholder="Type your message here..." contenteditable="true" (input)="form_edit.text = $event.target.innerText" >{{form_edit.text}} </div>
			<div container-panel>

				<div container-categorys>

					<form [formGroup]="formCategoryLabels" (ngSubmit)="onAddLabel( $event )" >
						<i class="icon-label"></i>
						<input type="text" placeholder="Type your category here" formControlName="category" />
					</form>

					<ul>
					    <li *ngFor="let category of categorys_to_post;  let i = index">
					      {{ category }}
					      <i class="icon-close" (click)="deleteCategoryLabel( $event, i )" ></i>
					    </li>
					</ul>

				</div>

				<button publish (click)="updatePost()" >Edit</button>
				<button add-image (click)="openContainerImages()" class="icon-image"></button>

			</div>

			<div container-more-image *ngIf="containerImages" >

				<div data-image-post *ngFor="let obj_image of images_to_post;  let i = index" >

					<div background-loading *ngIf="obj_image.state == 'loading'" ></div>

					<div background-preview-image *ngIf="obj_image.state == 'done'" >
						<span remove-image></span>
					</div>
					
				</div>

				<div data-more-image class="icon-plus"></div>
			</div>

		</div>


	</div>

</div>