<div post>

	<div administrative-options>
		<button>
			<i class="icon-edit"></i>
			Editar
		</button>

		<button>
			<i class="icon-trash"></i>
			Excluir Publicacao
		</button>

	</div>

	<div header>
		<p name>Felipe Oliveira</p>
		<p timstamp>12/08/2019 as 10:13( ou atualizada)</p>
	</div>

	<div categorys>
		<p>Ola mundo</p>
		<p>Ola</p>
		<p>mundo</p>
		<p>asdas</p>
		<p>asasdas dasdas</p>
	</div>

	<div text>
		Ola pessoal, esse e uma publicacao com texto
	</div>

	<div media>
		<div>Fazer</div>
	</div>

</div>