<div post>

	<div administrative-options *ngIf="my_publication" >
		<button (click)="openModalEdit( publication )">
			<i class="icon-edit"></i>
			Editar
		</button>

		<button (click)="removePost( publication._id )">
			<i class="icon-trash"></i>
			Excluir Publicacao
		</button>

	</div>

	<div header>
		<p name>{{ publication.user[0].name.first_name + ' ' + publication.user[0].name.last_name }}</p>
		<p timstamp>
			{{
				publication.updated && publication.updated !== null
				? convertTimestampToDate( publication.updated ) + ' ( editado )'
				: convertTimestampToDate( publication.created )
			}}
		</p>
	</div>

	<div categorys>

		<p *ngFor="let category of publication.categorys_name;  let i = index">
			{{ category.name }}
		</p>
		
	</div>

	<div text>
		{{ publication.text }}
	</div>

	<div media>
		<div>Fazer</div>
	</div>

</div>